body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #66cd81; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #fff;
}

h3 {
    color: #ccc;
}

input[type="file"] {
    background-color: #3e8a22;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#imgCont {
    margin: 20px;
    text-align: center;
}

.imagen {
    width: 100%;
    margin: 10px 0
}