body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;  
    color: #fff; 
    margin: 0;
    padding: 0;
}

.container {
    background-color: #444; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.fila {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

h1 {
    color: #fff;  
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #ccc;  
}

select, button {
    margin: 10px;
    background-color: #777;  
    color: #fff; 
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

select:hover, button:hover {
    background-color: #555;  
}

#tablaResultado {
    margin: 20px;
    text-align: center;
}

img {
    width: 40px;
    margin-right: 5px;
    filter: invert(1);  
}
